footer {
  height: 8vh;
}

body {
  height: 88vh;
}

* {
  background-color: #fff;
}

.page-content {
  margin: 0.5% auto;
  // max-width: 900px;
  max-width: 70vw;
}

.page-layout {
  height: 77vh;
  max-height: 90vh;
}